<p>Tienes {{ myShoppingCart.length }} productos y la cuenta total es {{ total }}</p>
<!-- <p>Usando pipes: {{ ('hOlA eN LoWeRCase' | lowercase) | convertVowels }}</p> -->
<button (click)="createNewProduct()" >Crear Producto</button>
<div class="products--grid">
  <app-product
  *ngFor="let product of products"
  [product]="product"
  (addedProduct)="onAddToShoppingCart($event)"
  (showProduct)="onShowDetail($event)"
  ></app-product>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <div>
    <button (click)="toggleProductDetail()" >Close</button>
    <h1>{{ productChosen.title }}</h1>
    <img [src]="productChosen.images[0]" alt="" width="200">
    <p>{{ productChosen.description }}</p>
    <p>{{ productChosen.price }}</p>

    <button (click)="updateProduct()">Editar</button>
  </div>
</div>
